body {
  margin: 0;
  padding: 0;
  background: #333;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  color: #fff;
  text-align: center;
}

article {
  color: #fff;
  text-align: center; */
  margin: auto;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  letter-spacing: 0.15em;
  margin-bottom: 0;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  line-height: 0.75em;
}

a {
  color: #fff;
}
